---
grails:
    profile: web
    codegen:
        defaultPackage: com.streamfit
    gorm:
        reactor:
            events: false
    cors:
        enabled: true
info:
    app:
        name: '@info.app.name@'
        version: '@info.app.version@'
        grailsVersion: '@info.app.grailsVersion@'
spring:
    jmx:
        unique-names: true
    main:
        banner-mode: "off"
    groovy:
        template:
            check-template-location: false
    devtools:
        restart:
            additional-exclude:
                - '*.gsp'
                - '**/*.gsp'
                - '*.gson'
                - '**/*.gson'
                - 'logback.groovy'
                - '*.properties'
management:
    endpoints:
        enabled-by-default: false

---
grails:
    mime:
        disable:
            accept:
                header:
                    userAgents:
                        - Gecko
                        - WebKit
                        - Presto
                        - Trident
        types:
            all: '*/*'
            atom: application/atom+xml
            css: text/css
            csv: text/csv
            form: application/x-www-form-urlencoded
            html:
                - text/html
                - application/xhtml+xml
            js: text/javascript
            json:
                - application/json
                - text/json
            multipartForm: multipart/form-data
            pdf: application/pdf
            rss: application/rss+xml
            text: text/plain
            hal:
                - application/hal+json
                - application/hal+xml
            xml:
                - text/xml
                - application/xml
    urlmapping:
        cache:
            maxsize: 1000
    controllers:
        defaultScope: singleton
    converters:
        encoding: UTF-8
    views:
        default:
            codec: html
        gsp:
            encoding: UTF-8
            htmlcodec: xml
            codecs:
                expression: html
                scriptlets: html
                taglib: none
                staticparts: none
---
hibernate:
    cache:
        queries: false
        use_second_level_cache: false
        use_query_cache: false
dataSource:
    pooled: true
    jmxExport: true
    driverClassName: com.mysql.cj.jdbc.Driver
    username:
    password:
    dialect: org.hibernate.dialect.MySQL8Dialect

environments:
    development:
        dataSource:
            dbCreate: update
            url: jdbc:mysql://localhost:3306/wsuser?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
            logSql: false
            formatSql: false
            properties:
                jmxEnabled: true
                # Optimized for high concurrency
                initialSize: 10
                maxActive: 100
                minIdle: 10
                maxIdle: 50
                maxWait: 5000
                # Connection validation
                validationQuery: SELECT 1
                validationQueryTimeout: 3
                testOnBorrow: true
                testWhileIdle: true
                testOnReturn: false
                # Performance tuning
                timeBetweenEvictionRunsMillis: 30000
                minEvictableIdleTimeMillis: 60000
                maxAge: 300000
                # Remove slow connections
                removeAbandoned: true
                removeAbandonedTimeout: 300
                logAbandoned: true
    test:
        dataSource:
            dbCreate: none
            url: jdbc:mysql://localhost:3306/wsuser?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false
    production:
        dataSource:
            dbCreate: none
            url: jdbc:mysql://localhost:3306/wsuser?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&useSSL=true
            properties:
                jmxEnabled: true
                # High-performance production settings
                initialSize: 20
                maxActive: 200
                minIdle: 20
                maxIdle: 100
                maxWait: 3000
                maxAge: 600000
                timeBetweenEvictionRunsMillis: 5000
                minEvictableIdleTimeMillis: 60000
                validationQuery: SELECT 1
                validationQueryTimeout: 3
                validationInterval: 15000
                testOnBorrow: true
                testWhileIdle: true
                testOnReturn: false
                jdbcInterceptors: ConnectionState
                defaultTransactionIsolation: 2 # TRANSACTION_READ_COMMITTED
                # Performance optimizations
                removeAbandoned: true
                removeAbandonedTimeout: 300
                logAbandoned: true
                # Cache prepared statements
                poolPreparedStatements: true
                maxOpenPreparedStatements: 250
    server:
      address: 192.168.0.107
      port: 8080

